global:
  name: consul
  datacenter: dc1
  image: "hashicorp/consul:1.11.2"
  tls:
    enabled: true
server:
  replicas: 1
ui:
  enabled: true
  service:
    type: NodePort
connectInject:
  enabled: true
controller:
  enabled: true
apiGateway:
  enabled: true
  image: "hashicorp/consul-api-gateway:0.1.0-beta"
  managedGatewayClass:
    serviceType: NodePort
    useHostPorts: true